:root {
  --f7-theme-color: #00315F; 
  --f7-black:#212121;
  --f7-white:#ffff;
  


  --f7-toolbar-bg-color: #00315F; /* Toolbar background color */
  --f7-toolbar-link-color: #ffffff; /* Toolbar icon color */
  --f7-toolbar-link-active-color: #fff; /* Toolbar active icon color */
  --f7-secondary-blue:#24649F;

  --f7-page-bg-color: #ffffff; /* Set your desired background color */
  --f7-navbar-bg-color: #ffffff; /* Set your desired navbar background color */
  --f7-appbar-bg-color: #ffffff; /* Set your desired appbar background color */


  --f7-button-border-radius: 40px;

  --f7-card-border-radius: 7px;
  --f7-card-content-padding-horizontal: 2px;
  --f7-card-content-padding-vertical:2px;
  --f7-card-header-padding-horizontal: 2px;
}

/*https://fonts.google.com/icons*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Your app custom styles here */
html, body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--f7-black);
}
a{
  color: var(--f7-black);

}
.toolbar {
  background-color: var(--f7-toolbar-bg-color);
}

.toolbar .tab-link {
  color: var(--f7-toolbar-link-color);
}

.toolbar .tab-link-active {
  color: var(--f7-toolbar-link-active-color);
}

/* Override Framework7 input styles to use standard input fields */
.input input, .input textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  box-shadow: none;
  background-color: #fff;
}

.input input:focus, .input textarea:focus {
  border-color: #66afe9;
  outline: none;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

.block-strong::before,.block-strong::after{
  display:none!important;
}


/*colores de apoyo*/

.white{
  color: white;
}

.blue{
  color: #00315F;
}

.bg-white{
  background-color: white;
}

.bg-blue{
  background-color: #00315F;
}

/* typography */
p{
  font-size: var(--spaces-s);
}
h2{
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin: 0px;
}
h3{
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  margin: 0px;
}
h4{
  font-size: var(--spaces-s);
  margin: 0px;
}
h5{
  font-size: 9px;
  margin: var(--spaces-xxs);
}


.btn-small{
  font-size: 13px;
  font-weight: 500;
  line-height: 19px;
  background-color: var(--f7-theme-color);
  color: var(--f7-white);
  text-transform: none;
}

/* cards */
.hastag-blue{
  background-color: #E0F0FF;
  border:1px solid var(--f7-secondary-blue);
  border-radius: var(--spaces-xxxs);
  font-size:10px;
  line-height: var(--spaces-l);
  font-weight: 600;
  padding: 0px 5px;
  margin:0px;
  color: var(--f7-secondary-blue);
}
.hastag-green{
  background-color: #CEFBE2;
  border:1px solid #469068;
  border-radius: var(--spaces-xxxs);
  font-size:10px;
  line-height: var(--spaces-l);
  font-weight: 600;
  padding: 0px 5px;
  margin:0px;
  color: #469068;
}
.circle-image{
  width: var(--spaces-l); 
  height: var(--spaces-l); 
  border-radius: 50%;
  overflow: hidden; 
}
.circle-image-large{
  width: 50px; 
  height: 50px; 
  border-radius: 50%;
  overflow: hidden; 
}
.circle-image-large img,
.circle-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-icon{
  margin-top:-2px;
  font-size:var(--spaces-l);
}
.color-yellow{
  color:#FFB930 !important;
  font-size: var(--spaces-m);
}

.price{
  width: 100%;
  text-align: center;
  font-size:var(--spaces-l);
  font-weight: 900;
  background: linear-gradient(180deg, #B68E42, #F4B130);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;
}
.discount{
  display: block;
    background-color: #2D9A5F;
    border-radius: 0 10px 10px 0;
    padding: 3px 10px;
    color: white;
    font-size: 11px;
    font-weight: 600;
    margin: 6px 0px 0px 0px;
}
.discount-light{
  display: inline;
    background-color: #CEFBE294;
    border-radius: 0 10px 10px 0;
    padding: 3px 10px;
    color: #469068;
    font-size: 11px;
    font-weight: 600;
    margin: 6px 0px 0px 0px;
    border: 1px solid #96E3B9;
}

